<html>

<% provide(:title, "Home") %>
<head>

<head>
<style>
p    {color: black; 
     }

</style>
</head>
<body>

<p style=" font-size: 50px; text-align: left"> <b> Sha in a Nutshell</b> <br> </p>
<br>
<br>
<br>
<%= image_tag('sha.jpg', :alt=>"facebook", height:400, width:400)%>
<br/><br/><br/>

<p style=" font-size: 16px; text-align:justify;"> <%= image_tag('me.png', :alt=>"profile picture", height:80, width:80)%><b> THE "ME" SUMMARY : </b>
	Hey! The name's Sharlyn Igloria currently a Computer Science student, an aspiring Software Engineer. 
	I'm in love with books and how it takes you to different dimensions. 
	I'm passionate about music, especially in these genres: Indie Rock, Indie Pop, Alternative Rock, Electronic Music, and Electronic Dance Music. 
	I love watching anime and amazed by how much artistry these shows offers and how it depicts a real life knowledge in an animated world.   
	I have an introvert mind trapped in a semi extrovert body.  
	I love taking random pictures depicting just how simple life is if you view it in a more positive perspective. 
	I love the view of the ocean and the view of the sky.  
	I envision a life where everyone has the freedom to be the artist they choose to be.  
	I do my best in things with the goal of giving back to my parents and give them a chance to tour around the world with me.  
	I am a happy go lucky type of person, willing to learn and willing to impart my knowledge to those who needed it. 
	I value attitude more than intelligence. 
	Lastly, I believe that everything is possible if you think that it is and you put your heart in it. 
	Dream is not just a dream if you work hard to achieve it. 
</p>

<p style=" font-size: 16px; text-align: justify;"> <%= image_tag('currentstatus.png', :alt=>"profile picture", height:80, width:80)%> <b> CURRENT STATUS:</b> 
	Currently Taking up Bachelor of Science in Computer Science and a self-proclaimed programmer. I want to work different areas in IT industry in the hope of learning a lot of things from it.  
</p>

<p style=" font-size: 16px; text-align: justify;"> <%= image_tag('itawesome.png', :alt=>"profile picture", height:80, width:80)%><b> WHY YOU THINK IT' YOUR COURSE IS AWESOME: </b> 
	In my field of Computer Science, we change how the world works, we make things efficient for the humanity and I think that’s awesome. 
</p>


</body>
</html>
