<% provide(:title, "Projects") %>

<head>

<head>
<style>
p    {color: black; 
     }

</style>
</head>
<body>

<p style=" font-size: 50px; text-align: left"> <b> Software Projects</b> <br> </p>
<br>
<br>
<br>

<p style=" font-size: 24px; text-align: left"> <%= image_tag('jvbake.png', :alt=>"profile picture", height:100, width:100)%> <b> JV BAKESHOP DBMS</b> <br> 
</p>

<p style=" font-size: 16px; text-align: left"> 
	<b>DESCRIPTION:</b> A Website that people can post Issues or Questions and at the same time they can vote yes or no in a certain Issue and can do comments<br>
	<b> LANGUAGE: </b> Android Java/ XML<br>
	<b> ROLE: </b> UI/ Frontend<br>
</p>

<p style=" font-size: 24px; text-align: left"> <%= image_tag('twittersuicide.png', :alt=>"profile picture", height:100, width:100)%> <b> TWITTER-BASED SUICIDE PREDICTION MODEL</b> <br> </p>
<p style=" font-size: 16px; text-align: left"> 
	<b>DESCRIPTION:</b> A Website that people can post Issues or Questions and at the same time they can vote yes or no in a certain Issue and can do comments<br>
	<b> LANGUAGE: </b> Android Java/ XML<br>
	<b> ROLE: </b> UI/ Frontend<br>
</p>


<p style=" font-size: 24p x; text-align: left"> <%= image_tag('deliveryover.png', :alt=>"profile picture", height:100, width:100)%> <b> DELIVERY OVERSIGHT</b> <br> </p>
<p style=" font-size: 16px; text-align: left"> 
	<b>DESCRIPTION:</b> A Website that people can post Issues or Questions and at the same time they can vote yes or no in a certain Issue and can do comments<br>
	<b> LANGUAGE: </b> Android Java/ XML<br>
	<b> ROLE: </b> UI/ Frontend<br>
</p>
