<footer class="navbar navbar-fixed-down navbar-inverse">
<div class="container">
<nav>
<ul class="nav navbar-nav navbar-center">
<p> <center> All rights reserve @igloriasha </center> </p>
</nav>
</div>
</footer>